:global {
    /* 布局 */
    .row-flex, .row-flex-center, .row-flex-baseline, .row-flex-start, .row-flex-wrap {
        display: flex;
        flex-direction: row;
        min-width: 0;
    }
    .row-flex-center { align-items: center; }
    .row-flex-baseline { align-items: baseline; }
    .row-flex-start { align-items: flex-start; }
    .row-flex-wrap { flex-wrap: wrap; align-items: flex-start; }

    .column-flex, .column-flex-center {
        display: flex;
        flex-direction: column;
        min-width: 0;
        min-height: 0;
    }
    .column-flex-center { align-items: center; min-height: 0 }

    .jc {
        &-center { justify-content: center; }
        &-start { justify-content: flex-start; }
        &-end { justify-content: flex-end; }
        &-space { justify-content: space-between; }
        &-around { justify-content: space-around; }
    }
    .align-content-start {
        align-content: flex-start;
    }
    .flex1 { flex: 1; }
    .flex2 { flex: 2; }
    .flex3 { flex: 3; }
    .flex5 { flex: 5; }
    .no-shrink { flex-shrink: 0; }
    .flex-wrap { flex-wrap: wrap; }
    .flex-nowrap { flex-wrap: nowrap; }
}

:global {
    /* 位置position, size */
    .pos-relative { position: relative; }
    .pos-absolute, .pos-absolute-full { position: absolute; }
    .pos-fixed, .pos-fixed-full { position: fixed; }
    .pos-absolute-full, .pos-fixed-full {
        top: 0; right: 0; bottom: 0; left: 0;
    }
    .content-w-full, .content-full { width: 100%; }
    .content-h-full, .content-full { height: 100%; }
    .content-none { display: none }
}

:global {
    /* 文本(对齐, 截断) */
    .text-left { text-align: left; }
    .text-right { text-align: right; }
    .text-center { text-align: center; }
    .text-ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

:global {
    /* 溢出overflow */
    .scroll-y { overflow-y: auto; }
    .scroll-x { overflow-x: auto; }
    .scroll-xy { overflow: auto; }
    .scroll-hidden { overflow: hidden; }
}

:global {
    /* border */
    .br-2 { border-radius: 2px; }
    .br-4 { border-radius: 4px; }
    .br-circle { border-radius: 50%; }
}

:global {
    /* 交互 */
    .cursor-pointer { cursor: pointer; }
    .cursor-not-allowed { cursor: not-allowed; }
    .cursor-disabled { pointer-events: none; }
}

